body {
    margin: 0;
    background: #5fafff;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #2ab7f8;
    color: #000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a:link, a:visited {
    background-color: rgb(128, 128, 231);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}

a:hover, a:active {
    background-color: #2ab7f8;
}

.form {
    width: 440px;
    height: auto;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 40px auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid #bebed2;
    transition: all 0.3s;
}

input:focus {
    border-bottom: 2px solid #78788c;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: none;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #78788c;
    color: #fff;
}

